WCFClient/Connected Services/HTTP/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8001/?xsd=xsd2" namespace="www.Shrishesh.com/Year2022" />
  <xs:element name="GetStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="www.Shrishesh.com/Year2022" minOccurs="0" name="GetStudentResult" nillable="true" type="q1:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="www.Shrishesh.com/Year2022" minOccurs="0" name="student" nillable="true" type="q2:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveStudentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>