WCFClient/Connected Services/HTTP/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number1" type="xs:double" />
        <xs:element minOccurs="0" name="number2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Subtract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number1" type="xs:double" />
        <xs:element minOccurs="0" name="number2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubtractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubtractResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMessageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrivateMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrivateMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrivateMessageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>