WCFClient/Connected Services/HTTP2/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8002/?xsd=xsd2" namespace="www.Shrishesh.com/Year2022" />
  <xs:complexType name="RegularStudent">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="www.Shrishesh.com/Year2022" base="q1:Student">
        <xs:sequence>
          <xs:element minOccurs="0" name="TotalFees" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegularStudent" nillable="true" type="tns:RegularStudent" />
  <xs:complexType name="OpenStudent">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="www.Shrishesh.com/Year2022" base="q2:Student">
        <xs:sequence>
          <xs:element minOccurs="0" name="HourlyRate" type="xs:int" />
          <xs:element minOccurs="0" name="Hours" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OpenStudent" nillable="true" type="tns:OpenStudent" />
</xs:schema>